a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*Eric Meyers CSS Reset*/

/*Custom CSS*/

/* ========== COMMON ========== */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #FCFCFC;
}


.container {
    width: 60%;
    max-width: 1000px;
    margin: 30vh auto;
}

/* ========== GRIDS ========== */

.grid-2, .grid-3 {
    display: grid;
	grid-gap: 50px;
}

.grid-2 { grid-template-columns: repeat(2, 1fr); }
.grid-3 { grid-template-columns: repeat(3, 1fr); }

/* ========== MINI SIGNATURE ========== */

#sig {
    width: 35px;
    padding: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#sig img {
    max-width: 100%;
}

h2 {
    font-size: 3em;
    line-height: 2;
}

#nav-container {
    width: 100%;
    text-align: center;
    margin-top: 5em;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 20px;
}

/* ========== HERO ========== */

#hero {
    position: fixed;
    text-align: center;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#hero img {
    max-width: 100%;
}

nav {
    margin: 0 auto;
    overflow: auto;
}

#nav-logo img {
    max-width: 100%;
}

#nav-links a {
    line-height: 3em;
    color: #000;
    text-decoration: none;
    margin: 0 0.5em;
}

#nav-links a:first-child {
    margin: 0 0.5em 0 0;
}

/* ========== INTRO ========== */

#intro {
    position: relative;
    margin-top: 100vh;
    font-family: sans-serif;
}

#intro p {
    text-align: left;
}

/* ========== SENTIMENT ========== */

#sentiment {
    color: #FFF;
    padding: 25vh 10vh;
    width: calc(80% - 20vh);
    margin: 20vh auto;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;

    background-image: url('/images/artist.jpg');
    background-position: center center;
    background-size: cover;
}

#sentiment img {
    max-width: 100%;
}

/* ========== SERVICES ========== */

#all-services {
    line-height: 2;
    margin-top: 50px;
}

h3 {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.5em;
}

.service p {
    color: #555;
}

/* ========== CONTACT ========== */

#contact img {
    width: 100%;
    max-width: 350px;
}

#contact h2 {
    padding: 20px 0;
}

#contact p {
    line-height: 2;
    color: #555;
}

#contact a {
    text-decoration: none;
    color: #874040;
    padding-bottom: 0.2em;
    font-size: 1.5em;
    margin-top: 2em;
    display: inline-block;
    border-bottom: 1px dotted #AAA;
}

/* ========== FOOTER ========== */

#footer-container {
    background-color: #EEE;
    padding: 0;
}

footer {
    color: #777;
    width: 60%;
    margin: 0 auto;
    padding: 5vh 0;
    line-height: 2;
}

h4 span {
    font-size: 1.5em;
}

footer div a {
    display: block;
    text-decoration: none;
    color: #777;
}

/* ========== MOBILE ========== */

@media only screen and ( max-width: 1100px ) {

    .container {
        width: 80%;
    }

    #sentiment {
        padding: 20vh 0;
        width: 100%;
        margin: 20vh auto;
        border-radius: 0;
    }
}

@media only screen and ( max-width: 800px ) {

    .container {
        width: 90%;
        margin: 10vh auto;
    }

    .grid-2, .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    h1 { font-size: 1em; }
    h2 { font-size: 2em; }

    #contact {
        text-align: center;
    }

    #contact h2 {
        padding: 0;
    }
}

@media only screen and ( max-width: 400px ) {

    #sentiment {
        padding: 10vh 0;
    }

    #sentiment h2 {
        font-size: 1em;
        font-weight: 400;
    }

    #contact h2 {
        font-size: 1.5em;
    }
}